__pycache__/
.venv
.ipynb_checkpoints
.mypy_cache
.vscode
lightning_logs*
notebook

kaggle.json
checkpoint
dataset
dataset-1024
dataset-raw
dataset-full
dataset-extra-1024
kaggle_2021.tsv

hpa-512512.zip
hpa-single-cell-image-classification.zip
hpa-challenge-2021-extra-train-images.zip

train_label_pred.csv